<div class="ui card">
  <div class="content">
    <div class="header">{{book.name}}</div>
    <div class="meta">
      <span class="category">Книга</span>
    </div>
    <div class="description">
      <p><strong>Автор:</strong> {{book.author}}</p>
      <p><strong>Страниц:</strong> {{book.pages}}</p>
    </div>
  </div>
</div>