<h3 class="ui header">{{t "forms.bookslist-test-task-response-e.caption"}}</h3>
{{#if this.model.length}}
  <div class="books-isGrided">
    {{#each this.model as |book|}}
      <Book-card @book={{book}} />
    {{/each}}
  </div>
{{else}}
  <div class="empty-state">
    <p>Книги не найдены</p>
  </div>
{{/if}}